@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Cooper';
    src: url('font/Cooper.woff2') format('woff2'),
        url('font/Cooper.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
ul{
    margin: 0;
    padding: 0;
}
a {
    padding: 0;
}



nav {
    overflow: hidden;
    background-color: #003566;
    position: fixed;
    /* top: 0; */
    width: 100%;
    opacity: 0.9;
}
header li {
    margin: 30px 16px;
    float: right;
    background: #F5CC00;
    border-radius: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;    
    display: block;
    text-align: center;
    padding: 7px 17px;

}

h1 {
    position: absolute;
    width: 477.57px;
    height: 182.93px;
    left: 15%;
    top: 236px;

    font-family: 'Cooper';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 90px;

    color: #F5CC00;
}

#sousTitre {
    margin: 50px 0;
    position: absolute;
    width: 85%;
    height: 0px;
    left: 15%;
    top: 434px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 0px;
    white-space: nowrap;


    color: #003566;
}

#accroche {
    position: absolute;
    width: 1000px;
    height: 160px;
    left: 15%;
    top: 550px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #003566;
}

